html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
}
header{
    height: 10%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.logo{
    position: absolute;
    left:0%;
    top:0;
    height: 50%;
    width: 50%;
}
.header h1{
    color:rgb(9, 187, 247);
}
.container{
    height:90%;
    width:100%;
   
}

.sidebar{
    height:100%;
    width:10%;
    position: fixed;
    left: 0;   
    background-color:rgb(43, 181, 231);
}
.sidebar a{
    color:white;
    font-size: 28px;     
    text-decoration: none;
    display:block;
    border-width: 3px;
    border-style:solid;
    padding: 20px;
    justify-content: center;
}
.sidebar a:hover{
    color:rgb(33, 36, 34);
}

.maincontent1 {
    height:100%;
    width: 100%;    
    display: flex;
    justify-content:center;    
    align-content: center;
    background-image: url("../asserts/image3.jpg");    
    background-size: cover;
    background-repeat:no-repeat;      
    
}
.overlay{
    font-size:30px;
    display: flex;
    align-content:center;    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left:10%;
    background-color:rgba(0,0,0,0.5);    
      }

    
    
