
html{
    height: 100%;
    width: 100%;
    margin: 0%;
    
}
body {
   background: url("image1.jpg");
   height: 100%;
   width: 100%;
   margin: 0px;
   background-position: center;
   background-size:cover;
   display: flex;   
   justify-content: center;
   align-items: center;   
   font-family: Montserrat;
}
form{
    width: 30%;
    height: 50%;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap:wrap; 
    background:whitesmoke;      
    border-radius:10px;    
    border-top: 5px solid deeppink; 
    border-bottom: 5px solid deeppink; 
    align-content: center;
    padding: 30px;
    opacity: 0.9;
}


.login {    
    width:100%;
    height:100%;
}

.login h1 {    
   
    text-align:center; 
    justify-content: center;
    color:deeppink;     
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.login label{
    text-align: left;
    justify-content: center;
    font-size: 20px;   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.login input {
    width: 100%;
    height: 10%;
    box-sizing:border-box;
    border-radius: 5%;
    border: 1px solid #ccc;   
    font-size: 14px;
    font-family: Montserrat;      
    outline: none;
    align-content: center;
   
    
}
.login button {
    width: 100%;
    height: 10%;
    margin-bottom: 4%;   
    background: deeppink;
    outline: none;  
    border: none; 
    color: #fff;
    font-weight: bold;    
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    box-shadow: 3px;
    align-content: center;
    
    
}

.login button:hover {
    background: #35978f;
    cursor: pointer;
}
 span{
    height: 10%;
    width: 50%;
    display: flex;
	color:red;
}


@media only screen and (max-width:320px){
    .login {width:30%; height:50%; }
     
   }
